@import "tailwindcss";

/* main colors scheme */
:root {
  --color-bg: #BDE8F5;
  --color-surface: #ffffff;

  --color-primary: #1C4D8D;
  --color-primary-hover: #0F2854;
  --color-accent: #4988C4;

  --color-text-main: #0F2854;
  --color-text-muted: #4a6280;

  --color-border: #cfe3f0;
}

/* basic style */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* scrollbar */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 999px;
  border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-bg);
}